{% extends 'base.html.twig' %}

{% block title %}Hello Desafio1Controller!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="row">
                <div class="col-4">
                    {{form(inputForm)}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{desafio1_fizzbuzz(initNumber)}}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
